$backgroundColor : #1D35AB;
$backgroundColor2 : #F3F3F3;
$color1 : rgb(255, 255, 255);
$color2 : #ACACAC;
$color3 : #FB882D;
$fontSize : 12px;
$fontStyle1 : 'Lora', serif;
$fontStyle2 : 'Montserrat', sans-serif;

.judul {
    font-family: $fontStyle1;
}

.teks {
    font-family: $fontStyle2;
}

.fontSize14 {
    font-size: $fontSize;
}

// --------------------------------------------------------------------

.btn-color {
    background-color: $backgroundColor;
    border: none;
    font-family: $fontStyle1;
}

.btn-color:hover {
    background-color: rgb(1, 28, 56);
}

.btn-color span {
    color: $color1;
}

.navbar-nav {
    font-family: $fontStyle1;

    li a.nav-link{
        color: black !important;
    }

    li a.nav-link:focus{
        font-weight: bold !important;
        color: $backgroundColor !important;
    }
}


// carousel

.welcome {
    margin: 15rem;
    margin-left: 23rem;
    color: $color1;
}

// content

.konten {
    width: 84.4rem;
    margin-top: -5rem;
}

.content {
    height: 446px;
    background-color: $backgroundColor2;
    border-radius: 0px 0px 50px 50px;

    a {
        color: $backgroundColor;
    }

    .card {
        box-shadow: 0px 4px 15px #00000029;
    }

    .item {
        .card {
            width: 353px;
        }
    }

    .isiContent {
        margin-left: 8rem;
        padding-top: 5rem;
    }

    p {
        color: $color2;
    }

    small.font-weight-bold {
        color: $color3;
    }

    small.float-right {
        color: $color2;
    }

    .owl-btn {
        float: right;
        margin-right: 120px;
    }
}

// info keuangan

.info-keuangan {
    margin-top: 400px;
    background-color: $backgroundColor2;
    height: 458px;
    margin-bottom: 50px;

    a {
        color: $backgroundColor;
    }

    p {
        color: $color2;
    }

    .keterangan {
        margin-top: 100px;
        margin-right: 120px;
    }
}

// logo

.logo {
    margin-bottom: 50px;
}

// footer

footer {
    background-color: $backgroundColor2;
    border-top: 1.5px solid $backgroundColor;

    p {
        color: $backgroundColor;
    }
}
